# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Node (if you ever add JS work later)
node_modules/

# IDE files
.idea/
.vscode/

kaggle.json